:root {
  --switch-base-size: 1.3rem;
  --switch-border-width: 2px;
  --switch-indicator-size: var(--switch-base-size);
}

.root {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.checkbox.label-after label,
.switch.label-after label {
  margin-left: 0.75rem;
}

.checkbox.label-before label,
.switch.label-before label {
  margin-right: 0.75rem;
}

.root input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}

.root label {
  color: #666;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.checkbox button {
  background-color: transparent;
  border: 3px solid #999;
  border-radius: 0.4rem;
  cursor: pointer;
  height: 1.5rem;
  padding: 3px;
  position: relative;
  width: 1.5rem;
}

.checkbox button div.indicator {
  background-color: #ccc;
  border-radius: 0.2rem;
  cursor: pointer;
  height: 90%;
  margin: auto;
  width: 90%;
}

.checkbox.checked button {
  background-color: #fff;
  border-color: #444;
}

.checkbox.checked button div.indicator {
  background-color: #11ccff;
  height: 99%;
  width: 99%;
}

.switch button {
  background-color: #ccc;
  border: var(--switch-border-width) solid #bbb;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  height: var(--switch-base-size);
  padding: 0;
  width: calc((var(--switch-base-size) * 2));
}

.switch .indicator {
  background-color: #999;
  border: var(--switch-border-width) solid #fff;
  border-radius: 50%;
  height: var(--switch-indicator-size);
  margin: calc(var(--switch-border-width) * -2);
  transform: translateX(2px);
  transition: all 300ms;
  width: var(--switch-indicator-size);
}

.switch.checked button div.indicator {
  background-color: #11aa11;
  transform: translateX(calc(var(--switch-indicator-size) - 2px));
}

.pill {
  color: #333;
  cursor: pointer;
  display: inline-flex;
  margin: .2rem;
}

.pill label {
  display: none;
}

.pill button {
  background-color: #ccc;
  border: 2px solid #eee;
  border-radius: .4rem;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  height: 100%;
  padding: 6px 8px;
  width: 100%;
}

.pill.checked button {
  background-color: #3366bb;
  color: #eee;
}

